# Virtual Environment
venv/
myenv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Streamlit secrets
.streamlit/secrets.toml

# Environment variables
.env

# macOS
.DS_Store

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Build files
build/
dist/